html {
    font-family: sans-serif;
    font-size: 2.5vh;
}

body {
    background-color: black;
}


section {
    display: grid;
    place-content: center;
    align-content: center;
    color: white;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

a{
    color: white;
}
#navbar{
    position: fixed;
    color: aliceblue;
    top: 92vh;
    left: 0%;
}
#navbar ul{
    display: flex;
    list-style: none;
    padding-left: 30%;
    
}
#navbar li{
    margin-right: 40%;
    font-size: 1.1rem;
}
#navbar a:hover{
    color: red;
}
#section-2{
    background: black
}
#section-3{
    background: black
}
#alpha{
    background: linear-gradient( to top,black,black, rgba(116, 1, 1, 0.137),black,black);
}
#logo {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    object-fit: cover;
    margin: 15px;

}
#section-2 p{
    width: 60vw;
}
#section-3 p{
    width: 60vw;
}
#p1 {
    font-size: 3vh;
}

#p2 {
    margin-left: 20px;
    margin-right: 20px;
}

.socials{
    display: grid;
    height:auto;
    width:80%;
    padding-top:30px;
    padding-bottom: 30px;
    
    place-items: center;
}
#s1{
    grid-column: 1;
    grid-row: 1;
}
#s2{
    grid-column: 2;
    grid-row: 1;
}
#s3{
    grid-column: 3;
    grid-row: 1;
}
#s4{
    grid-column: 4;
    grid-row: 1;
}
.socialicons{
    padding-left:10px;
    padding-top: 20px;
    font-size: 6vh;
    margin: 15px;
}
#pro-1{
    margin-top: 25px;
}

.socialicons a:hover{
    color:red;
}